{# templates/blog/comment_input.html #}

<div class="input-group input-group-sm mb-3" style="padding: 1em">
    <input
            id="post-comment-input-{{ post.slug }}"
            aria-describedby="post-comment-btn-{{ post.slug }}"
            type="text"
            class="form-control"
            aria-label="post-comment"
            oninput="toggleButtonState('{{ post.slug }}')"
            onkeypress="handlePostCommentOnEnter(event, '{{ post.slug }}')"
    >
    <button
            id="post-comment-btn-{{ post.slug }}"
            type="button"
            class="btn btn-success"
            onclick="handlePostComment('{{ post.slug }}')"
            disabled
    >
        <i class="fa-solid fa-paper-plane"></i>
    </button>
</div>
<script>
    function toggleButtonState(slug) {
        const input = document.getElementById("post-comment-input-" + slug)
        const button = document.getElementById("post-comment-btn-" + slug)
        button.disabled = !input.value.trim().length
    }
    function handlePostComment(slug) {
        alert("Comment submitted!")
    }
    function handlePostCommentOnEnter(event, slug) {
        if (event.key === "Enter" || event.keyCode === 13) {
           handlePostComment(slug)
        }
    }
</script>
