{# templates/blog/post/post_options.html #}

{% if user == post.author %}
<div class="dropdown">
    <button
            class="btn btn-light btn-small"
            type="button"
            id="dropdownMenuButton-{{ comment.id }}"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
    >
        ...
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ comment.id }}">
        <a class="dropdown-item" href="{% url 'blog:post_update' post.slug %}" class="btn btn-primary btn-sm">Edit</a>
        <a class="dropdown-item" href="{% url 'blog:post_delete' post.slug %}" class="btn btn-danger btn-sm">Delete</a>
    </div>
</div>
{% endif %}